#diary-courses-button{
    width: 40%;
    justify-self: center;
}

#diary-courses-div-input{
    margin-top: 7px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: stretch;
}

.accept-button{
    background: url('../images/icons/check-lg.svg');
    height: 20px;
    width: 20px;
}