.diary-window-record{
    padding-top: 4px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 6px;
}

/* Кнопка добавления записи .*/
.button, #diary-courses-button {
    display: inline-block;
    font: inherit;
    padding-block: max(.5rem, calc((44px - 1em)/2));
    padding-inline: 1rem;
    border-radius: .5rem;
    border: 1px solid #2563eb;
    background-color: #2563eb;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease, transform .2s ease;
}
.button:hover, #diary-courses-button:hover {
    background-color: #1d4ed8;
}

#diary-courses-div-input {
    margin-top: 7px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: stretch;
}

.diary-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.diary-form-window{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
}

.accept-button {
    background: url('../images/icons/check-lg.svg');
    height: 20px;
    width: 20px;
}