:root {
  --color-main: #ffffff;
  --color-text: black;
}

body {
  margin: 0;
  font: 16px/1.6 system-ui, -apple-system, "Segoe UI", Roboto, Arial, sansserif;
  background: var(--color-main);
  color: var(--color-text);
}

.nav {
  background: gray;
  grid-area: nav;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-item {
  margin: 0;
}

.nav-link {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: var(--color-text);
  transition: background-color 0.3s;
}

.nav-link:hover {
  background: darkslategrey;
}

.active {
  background: darkslategrey;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-info-photo {
  max-width: 600px;
  max-height: 900px;
  padding: 30px;
}

.main-info-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-info-text {
  padding: 30px;
  padding-top: 10px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
}

.my-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.project {
  min-height: 100px;
  max-height: 100px;
  padding: 15px;
}

.project-button {
  height: 100%;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
}

.projects-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 30px;
}

.diary-window {
  justify-self: center;
  border: gray solid;
  min-width: 60vw;
  border-radius: 12px;
}

.diary-courses {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.contacts-form-message {
  display: contents;
}

.form-message-textarea {
  width: max(30vw, 60vh);
  min-width: 300px;
  min-height: 150px;
}

#contacts-form-button {
  width: 25vw;
  max-width: 200px;
  margin: 5px;
  margin-left: 0;
}

.contacts-info {
  margin: 5px;
}

.contacts-info-text {
  margin: 0;
}

footer {
  justify-items: center;
  margin-top: 1vh;
}
